$text-size: 16px;
$text-color: white;

$bg: #1b1b1e;
$bg-secondary: #373f51;

$primary: #00a7da;
$secondary: #4361ee;


$default-spacing: 2rem;
$border-radius: 0.5rem;
$square-color: #a9bcd0;

$themes: (
  "primary": $primary,
  "secondary": $secondary,
);

$block-colors: (
  "2": #00a7da,
  "4": #1870d4,
  "8": #294ce7,
  "16": #2b22c7,
  "32": #3a0ca3,
  "64": #480ca8,
  "128": #560bad,
  "256": #7209b7,
  "512": #b5179e,
  "1024": #f72585,
  "2048": #f72553,
  "4096": #f73e25,
  "8192": #d85701,
);

$grid-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);


$grid-gutter-width: $default-spacing;