$text-size: 16px;
$board-gap: .25rem;
$square-size: 40px;
$square-border-radius: .5rem;
$square-color: lightgrey;


$block-colors: ("2": #37C4EF,
    "4": #4895ef,
    "8":#4361EE,
    "16":#3F37C9,
    "32":#3A0CA3,
    "64":#480CA8,
    "128":#560BAD,
    "256":#7209B7,
    "512":#B5179E,
    "1024":#F72585,
    "2048":#f72553);