@each $key,
$value in $themes {
    .text--#{$key} {
        color: $value
    }
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}