.v-btn {
    $vBtn : &;

    .fas {
        vertical-align: baseline;
    }

    &--size-default {
        padding: 0 .5em;
        min-width: 3em;
    }

    &--size-small {
        min-width: 30px;
    }

    &__content {
        font-weight: bold;

        &:empty~#{$vBtn}__append {
            margin-inline-start: 0;
        }

        &:not(:empty)~#{$vBtn}__append {
            .fas {
                margin-top: -.15em;
            }

        }

    }

    &__prepend {
        margin-inline-end: 0 !important;

        &~#{$vBtn}__content {
            &:not(:empty) {
                margin-left: calc(var(--v-btn-height) / 4.5);
            }
        }
    }

    &--size-default {
        #{$vBtn}__prepend {
            .fas {
                margin-top: -.15em;
            }
        }
    }
}

.v-chip {
    i::before {
        vertical-align: baseline;
    }
}